<!DOCTYPE html>
<html lang="en">
<head>
                 <meta charset="UTF-8">
                 <meta http-equiv="X-UA-Compatible" content="IE=edge">
                 <meta name="viewport" content="width=device-width, initial-scale=1.0">
                 <title>Document</title>
                 {% load static %}
                 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}" >
        <img src="{% static 'img/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Belajar <span class="text-dark">code</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'tutorial' %}">Tutorial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'book' %}">Buku</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Kembali ke awal</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2 " type="search" placeholder="Mencari" aria-label="Search">
          <button class="btn btn-outline-success bg-light" type="submit">Cari</button>
        </form>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <div class="container mt-6 mb-6"> 
    <div class="row">
      <p class="text-success mt-5">LIST BUKU</p> 
      <h1 class="fond-100 ">Explore Buku</h1>
      <P class="mb-3 mt-3">Belajar leblih terstruktur dengan buku/eBook.</P>
  </div>          
</div>  
<div class="container mt-6 mb-6">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">EBOOK</strong>
          <h3 class="mb-0">Laravel Dataviz</h3>
          <div class="mb-1 text-muted">By Muhammad Azamuddin</div>
          <p class="card-text mb-auto">Ebook Laravel Dataviz: Studi kasus mendalam bagaimana mempersiapkan perintah SQL dari database sampai menampilkan dalam 25</p>
          <a href="#" class="stretched-link">Lanjut menbaca</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{% static 'img/b1.png' %}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">EBOOK</strong>
          <h3 class="mb-0">Laravel Datatables</h3>
          <div class="mb-1 text-muted">By Muhammad Azamuddin</div>
          <p class="mb-auto">Buku Laravel Datatables: Memahami & mempraktikkan konfigurasi laravel-datatables fundamental sampai konfigurasi tingkat lanjutan.</p>
          <a href="#" class="stretched-link">Lanjut menbaca</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{% static 'img/b2.png' %}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">EBOOK</strong>
          <h3 class="mb-0">Modern React: Be Frontend Javascript Developer</h3>
          <div class="mb-1 text-muted">By Muhammad Azamuddin & Hafid Mukhlasin</div>
          <p class="mb-auto">Buku Modern React berisi panduan belajar React untuk Pemula hingga bisa membuat aplikasi sendiri.</p>
          <a href="#" class="stretched-link">Lanjut menbaca</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{% static 'img/b3.webp' %}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">EBOOK</strong>
          <h3 class="mb-0">React & Express: Be Fullstack Javascript Developer</h3>
            <div class="mb-1 text-muted">By Muhammad Azamuddin & Hafid Mukhlasin</div>
          <p class="mb-auto">Buku ini berisi panduan menggunakan Reactjs dan Expressjs untuk membuat aplikasi Fullstack Javascript</p>
          <a href="#" class="stretched-link">Lanjut menbaca</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{% static 'img/b4.webp' %}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">EBOOK</strong>
          <h3 class="mb-0">Membangun Aplikasi Full-Stack Serverless dengan AWS dan React</h3>
          <div class="mb-1 text-muted">By Yuda Sukmana</div>
          <p class="mb-auto">Buku ini berisi panduan menggunakan Reactjs dengan Serverless AWS</p>
          <a href="#" class="stretched-link">Lanjut menbaca</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{% static 'img/b5.png' %}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">EBOOK</strong>
          <h3 class="mb-0">Panduan Praktis Membuat Realtime App dengan Laravel Websockets</h3>
            By Muhammad Azamuddin
            <div class="mb-1 text-muted"></div>
          <p class="mb-auto"> ini berisi panduan membuat aplikasi realtime dengan Laravel dan Websockets.</p>
          <a href="#" class="stretched-link">Lanjut menbaca</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="200" height="250" src="{% static 'img/b6.jpg' %}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="bg-dark text-light">
    <footer>
    <br>
      <p class=" mb-6 mt-6 text-center ">&copy; 2022 Belajar code 2022</p>
     <br> 
    </footer>
</div>   
  </body>
</html>