<!DOCTYPE html>
<html lang="en">
<head>
                 <meta charset="UTF-8">
                 <meta http-equiv="X-UA-Compatible" content="IE=edge">
                 <meta name="viewport" content="width=device-width, initial-scale=1.0">
                 <title>Belajar code</title>
                 {% load static %}
                 <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
                 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success mb-5">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}" >
            <img src="{% static 'img/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Belajar <span class="text-dark">code</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'tutorial' %}">Tutorial</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'book' %}">Buku</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Kembali ke awal</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2 " type="search" placeholder="Mencari" aria-label="Search">
              <button class="btn btn-outline-success bg-light" type="submit">Cari</button>
            </form>
          </div>
        </div>
      </nav>
<div class="container-fluid">
                 <div class="row align-items-center  bgclr ">
                        <div class="col-md-6  home-right text-light">
                                      <h1 class="fond-100 ">Belajar Kode</h1>
                                      <P class="mb-3 mt-3">Bantu pemula belajar budidaya kode <i>(coding)</i> dengan tutorial yang mudah dipahami.</P>
                                      <button type="button" class="btn btn-success  text-light">Mulai Belajar</button>
                                      <button type="button" class="btn btn-success text-light">Join Newsletter</button>
                                    </div>          
                                  <div class="col-md-6 home-left text-center mt-5">
                                      <img src="{% static 'img/logo.png' %}" width="50%" alt="">
                                  </div>
                 </div> 
                 <p class="text-success mt-5">Kategori</p>                
                 <h4>Mau belajar apa hari ini?</h4>
                 <h6>Temukan tutorial berdasarkan minatmu.</h6>
                 <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body "><h5 class="card-title">Basic Programming</h5>
                                    <br>
                                    <br>
                                    <p class="card-text">Baca tutorial pemrograman dasar menggunakan C, C++, C#, Java, Javascript, dan lainnya</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body "><h5 class="card-title">pemrograman web</h5>
                                    <br>
                                    <br>
                                    <p class="card-text">Baca tutorial cara membuat web. Mulai dari HTML, CSS, JS, PHP, MySQL, Codeigniter, React, dan masih banyak lagi.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body "><h5 class="card-title">Tutorial lainnya</h5>
                                    <br>
                                    <br>
                                    <p class="card-text">Baca tutorial dalam kategori lainnya seperti Mobile programming, Game programming, IoT, Blockhain, dan masih banyak lagi.</p>
                                </div>
                            </div>
                        </div>
                </div> 
                <p class="text-success mt-4">Kategori</p>                
                 <h4>Mau belajar apa hari ini?</h4>
                 <h6>Temukan tutorial berdasarkan minatmu.</h6>

                <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                    <div class="col">
                                     <div class="card">
                                                      <img src="{% static 'img/css.jpg' %}" class="card-img-top" alt="...">
                                                      <div class="card-body">
                                                                       <h5 class="card-title">Tutorial CSS: Cara Mengatur Font di CSS</h5>
                                                                       <br>
                                                                       <p class="card-text">Pada tutorial ini, kita akan belajar cara menggunakan dan mengatur font di CSS. Mulai dari mengatur ukuran font, mengatur jenis font, dan masih banyak laKamu bisa lihat sendiri hasilnya.Kamu bisa lihat sendiri hasilnya.gi.</p>
                                                                       <p><a class="btn btn-outline-light bg-success" href="#">View details &raquo;</a></p>
                                                      </div>
                                     </div>
                    </div>
                    
                    <div class="col">
                                     <div class="card">
                                                      <img src="{% static 'img/css.jpg' %}" class="card-img-top" alt="...">
                                                      <div class="card-body">
                                                                       <h5 class="card-title">Tutorial CSS: Text Formatting di CSS</h5>
                                                                       <br>
                                                                       <br>
                                                                       <br>
                                                                       <br>
                                                                       <p class="card-text">Pada tutorial ini kita akan belajar tentang properti CSS untuk mengatur teks. Seperti text-align, text-decoration, text-shadow, dan sbagainya. </p>
                                                                       <p><a class="btn btn-outline-light bg-success" href="#">View details &raquo;</a></p>
                                                      </div>
                                     </div>
                    </div>
                    
                    <div class="col">
                                     <div class="card">
                                                      <img src="{% static 'img/python.webp' %}" class="card-img-top" alt="...">
                                                      <div class="card-body">
                                                                       <h5 class="card-title">PyScript, Akankah Menggantikan Javascript?</h5>
                                                                       <br>
                                                                       <br>
                                                                       <br>
                                                                       <br>
                                                                       <br>
                                                                       <p class="card-text">Kini kamu bisa menjalankan kode Python di web browser. Akankah menggantikan fungsi Javascript? Simak pembahasan selengkapnya.</p>
                                                                       <p><a class="btn btn-outline-light bg-success" href="#">View details &raquo;</a></p>
                                                      </div>
                                     </div>
                    </div>
                    <div class="col">
                                     <div class="card">
                                                      <img src="{% static 'img/css.jpg' %}" class="card-img-top" alt="...">
                                                      <div class="card-body">
                                                                       <h5 class="card-title">Tutorial CSS: Menggunakan Background di CSS </h5>
                                                                       <br>
                                                                       <p class="card-text">Pada tutorial kita akan belajar tentang properti background di CSS untuk membuat background dengan warna dan gambar.</p>
                                                                       <p><a class="btn btn-outline-light bg-success" href="#">View details &raquo;</a></p>
                                                      </div>
                                     </div>
                    </div>
                    
                    <div class="col">
                                     <div class="card">
                                                      <img src="{% static 'img/css.jpg' %}" class="card-img-top" alt="...">
                                                      <div class="card-body">
                                                                       <h5 class="card-title">Tutorial CSS: Sintaks Dasar CSS yang Harus Dipahami</h5>
                                                                       <br>
                                                                       <br>
                                                                       <p class="card-text">Pelajari struktur dasar sintaks CSS agar kamu bisa menulis kode CSS dengan benar</p>
                                                                       <p><a class="btn btn-outline-light bg-success" href="#">View details &raquo;</a></p>
                                                      </div>
                                     </div>
                    </div>
                    
                    <div class="col">
                                     <div class="card">
                                                      <img src="{% static 'img/c.jpg' %}" class="card-img-top" alt="...">
                                                      <div class="card-body">
                                                                       <h5 class="card-title">Belajar C #19: Memahami Header File</h5>
                                                                       <br>
                                                                       <p class="card-text">Pada tutorial ini kita akan belajar tentang header file di C, sehingga kamu bisa membuat program modular.</p>
                                                                       <p><a class="btn btn-outline-light bg-success" href="#">View details &raquo;</a></p>
                                                      </div>
                                     </div>
                    </div>
                    
   </div>
                 
</div>
<br>
<div class="bg-dark text-light">
    <footer>
    <br>
      <p class=" mb-6 mt-6 text-center ">&copy; 2022 Belajar code 2022</p>
     <br> 
    </footer>
</div>              
</body>
</html>