<!DOCTYPE html>
<html lang="en">
<head>
                 <meta charset="UTF-8">
                 <meta http-equiv="X-UA-Compatible" content="IE=edge">
                 <meta name="viewport" content="width=device-width, initial-scale=1.0">
                 <title>Document</title>
                 {% load static %}
                 <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
                 <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success mb-5">
                                  <div class="container-fluid">
                                    <a class="navbar-brand" href="{% url 'home' %}" >
                                      <img src="{% static 'img/logo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
                                          Belajar <span class="text-dark">code</span>
                                    </a>
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                      <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                        <li class="nav-item">
                                          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link active" aria-current="page" href="{% url 'tutorial' %}">Tutorial</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link active" aria-current="page" href="{% url 'book' %}">Buku</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link active" aria-current="page" href="/">Kembali ke awal</a>
                                        </li>
                                      </ul>
                                      <form class="d-flex">
                                        <input class="form-control me-2 " type="search" placeholder="Mencari" aria-label="Search">
                                        <button class="btn btn-outline-success bg-light" type="submit">Cari</button>
                                      </form>
                                    </div>
                                  </div>
                                </nav>
                                <br>
                                <br>
                                <br>
                                <br>
                 <div class="container mt-6 mb-6"> 
                  <div class="row">
                    <p class="text-success mt-5">REKOMENDASI</p> 
                    <h1 class="fond-100 ">Tutorial Terpopuler</h1>
                    <P class="mb-3 mt-3">Paling banyak dibaca dan direkomendasikan admin.</P>
                </div>          
                  </div> 
                  <div class="container marketing">
                                                 
                    <!-- Three columns of text below the carousel -->
                    <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
                      <div class="col">
                        <img class="bd-placeholder-img rounded-circle mb-3 al" width="140" height="140" src="{% static 'img/html.png' %}"  aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                        <h5>Tutorial HTML untuk Pemula</h5>
                        <p>Pelajari dasar-dasar HTML untuk membuat website dari nol.</p>
                        <br>
                        <br>
                        <p><a class="btn btn-outline-light bg-success mb-3" href="#">View details &raquo;</a></p>
                      </div><!-- /.col-lg-4 -->
                      <div class="col">
                        <img class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" src="{% static 'img/js.png' %}"  aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                        <h5>Belajar Pemrograman Javascript untuk Pemula</h5>
                        <p>Pelajari dasar-dasar pemrograman Javascript untuk membuat website yang interaktif.</p>
                        <br>
                        <p><a class="btn btn-outline-light bg-success mb-3" href="#">View details &raquo;</a></p>
                      </div><!-- /.col-lg-4 -->
                      <div class="col">
                        <img class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" src="{% static 'img/java.png' %}"  aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                        <h5>Tutorial Pemrograman Java untuk Pemula</h5>
                        <p>Pelajari dasar-dasar pemrograman Java dari nol.</p>
                        <br>
                        <br>
                        <p><a class="btn btn-outline-light bg-success mb-3" href="#">View details &raquo;</a></p>
                      </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                    <div class="row">
                      <div class="col">
                        <img class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" src="{% static 'img/c.jpg' %}"  aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                        <h5>Belajar Pemrograman C untuk Pemula</h5>
                        <p>Pelajari dasar-dasar pemrograman C untuk dari nol.</p>
                        <br>
                        <p><a class="btn btn-outline-light bg-success mb-3" href="#">View details &raquo;</a></p>
                      </div><!-- /.col-lg-4 -->
                      <div class="col">
                        <img class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" src="{% static 'img/python.webp' %}"  aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                        <h5>Tutorial Python untuk Pemula</h5>
                        <p>Pelajari dasar-dasar pemrograman Python untuk pemula.</p>
                        <br>
                        <p><a class="btn btn-outline-light bg-success mb-3" href="#">View details &raquo;</a></p>
                      </div><!-- /.col-lg-4 -->
                      <div class="col">
                        <img class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" src="{% static 'img/git.png' %}"  aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                
                        <h5>Tutorial Belajar Git untuk Pemula</h5>
                        <p>Pelajari dasar-dasar Git untuk version control pada project dan kolaborasi dengan tim.</p>
                        <br>
                        <p><a class="btn btn-outline-light bg-success mb-3" href="#">View details &raquo;</a></p>
                      </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                    
                  </div>  
<div class="bg-dark text-light">
  <footer>
  <br>
    <p class=" mb-6 mt-6 text-center ">&copy; 2022 Belajar code 2022</p>
    <br> 
  </footer>  
</div>                              
                                                 
</body>
</html>